<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    {{!-- link bootstrap cdn and our css file --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css" type="text/css" />
    <title>Burgers</title>

</head>
<body>
    {{{ body }}}
    <!--Add jQuery and script page for functionality-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="http://localhost:8080/assets/js/script.js"></script>    
</body>
</html>
